<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
  <h1>Ужас!</h1>
  <p>Я сойду с ума!!!</p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>